Discipline: 
Computer science

Programming language and software: 
Python

Paper instructions: 
A Multi-Agent Path Finding (MAPF) assignment and implement a single-angle solver, namely space-time A*, and parts of three MAPF solvers, namely prioritized planning, Conflict-Based Search (CBS), and CBS with disjoint splitting